* {
    background-color: rgb(19, 18, 18);
}
.logo {
    font-size: 30px;
    color: beige;
}
ul {
    list-style-type: none;
    display: flex;
}
li {
    margin: 15px;
}
a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-size: 20px;
    text-align: right;
}
.first a:hover {
    color: rgb(46, 160, 46);
    transition: .5s;
}
h1 {
    color: white;
    font-size: 45px;
}
img {
    border-radius: 50%;
}
p {
    color: white;
}
.container {
    position: relative;
    width: fit-content;
}  
.con {
    position: relative;
    width: fit-content;
}
.con:hover .overlay {
    opacity: 0.7;
    transition: .5s;
}
.cont {
    position: relative;
    width: fit-content;
}
.cont:hover .overlay {
    opacity: 0.7;
    transition: .5s;
}
.conta {
    position: relative;
    width: fit-content;
}
.conta:hover .overlay {
    opacity: 0.7;
    transition: .5s;
}
.contai {
    position: relative;
    width: fit-content;
}
.contai:hover .overlay {
    opacity: 0.7;
    transition: .5s;
}
.contain {
    position: relative;
    width: fit-content;
}
.contain:hover .overlay {
    opacity: 0.7;
    transition: .5s;
}
.burna {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}
@media screen and (max-width: 800px) 
.burna {
    flex: 50%;
    max-width: 50%;
}
.burna img {
    margin-top: 8px;
    vertical-align: middle;
}
h2 {
    color: white;
    font-size: 40px;
}
.text {
    color: green;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    border-radius: 50%;
    transition: .5s ease;
    background-color: #333;
}
.container:hover .overlay {
    opacity: 0.7;
    transition: .5s;
}
@media screen and (max-width: 800px) 
.why {
    flex: 50%;
    max-width: 50%;
}
.why img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
}
.why {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.why img {
    border-radius: 10px 10px 10px 10px;
}
.why p {
    font-size: 17px;
    color: darkslategray;
}
.too p {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.foo ul {
    display: block;
    margin: 0;
    padding: 0;
}
.foo a:hover {
    text-decoration: underline;
    color: #333;
    transition: .5s;
}
.com p {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.dev li {
    list-style-type: none;
}
.dev ul {
    display: block;
    margin: 0;
    padding: 0;
}
.dev a:hover {
    text-decoration: underline;
    color: #333;
    transition: .5s;
}
.mob ul {
    display: block;
    margin: 0;
    padding: 0;
}
.us p {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.mob a:hover {
    text-decoration: underline;
    color: #333;
    transition: .5s;
}
.prem ul {
    display: block;
    margin: 0;
    padding: 0;
}
.prem a:hover {
    text-decoration: underline;
    color: #333;
    transition: .5s;
}
.spot p {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.icons a:hover {
    color: #333;
    transition: .3s;
}
.bottom-bar p {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
